.round-img-card {
    display: inline-block;
}

.round-img-card .img-container {
    border-radius: 50%;
    width:80%;
    height:80%;
    overflow: hidden;    
}

.round-img-card .img-container img {
    max-width:100%;
    max-height:100%;
}