#request{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color:#8DAA91;

    /* parallax effect stuff */
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-style: preserve-3d;
}

.request-blurb{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: #eee;
    margin: 0 10%;
}

#request-button{
    border-radius: 50px;
    border-style: none;
    height: 10vh;
    width: 33%;
    background-color:#85C7F2;

    /* margin-top: 7%; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: .7em;
    color: #333;
}

@keyframes buttonColorChange {
    from {background-color: #85C7F2;}
    to {background-color: rgb(99, 150, 185);}
}

#request-button:hover{
    animation-name: buttonColorChange;
    background-color: rgb(99, 150, 185);
    cursor: pointer;
    animation-duration: .5s;
}

/* parallax classes */

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.parallax__layer--base{
    transform: translateZ(0);
    z-index: 4;
    height: 100vh;
}

.parallax__layer--back{
    transform: translateZ(-2px) scale(2);
    background-image: url("../../assets/parallax-foreground.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    height: 100vh;
}

.parallax__layer--deep{
    transform: translateZ(-100px) scale(75);
    background-image: url("../../assets/parallax-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 100%
}