@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fade-out-enter {
  opacity: 0;
}

.fade-out-enter.fade-out-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-out-exit {
  opacity: 1;
}

.fade-out-exit.fade-out-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-right-enter {
  margin-left: 100vw;
}

.fade-right-enter.fade-right-enter-active {
  margin-left: 0vw;
  transition: margin-left 250ms ease-in;
}

.fade-right-exit {
  margin-left: 0vw;
}

.fade-right-exit.fade-right-exit-active {
  margin-left: 100vw;
  transition: margin-left 250ms ease-in;
}