nav {
    display:flex;
    justify-content: space-between;  
    margin-bottom: -10vh;
    margin-right: 30vh;
    margin-left: 30vh;
}

@keyframes navColorChange {
    from {color: white;}
    to {color: orange;}
}


.navItem {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px;
    font-size: 1.2em;
}

.navItem:hover {
    animation-name: navColorChange;
    color: orange; 
    cursor: pointer;
    animation-duration: .5s;
    
}